body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border-style: solid;
    margin-top: 50px;
}

.display {
    font-size: 40px;
    overflow: hidden;
    text-align: right;
    border-style: dotted;
    width: 302px;
}

.button {
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    border-style: solid;
}

.number {
    background-color: pink;
    height: 78px;
    width: 78px;
    line-height: 78px;
}

.operators * {
    background-color: orange;
}

#clear {
    background-color: lightgray;
}

#equals {
    background-color: lightblue;
}

.number-row {
    display: flex;
}

.functions {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
}

